.inputContainer input {
    outline: none;
    padding: 20px 0;
    width: 35%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.inputContainer {
    display: flex;
    width: 100%;
    justify-content: center;
   
}

.iconContainer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    width: 7%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.parentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.newDropDown {
    background: white;
    position: absolute;
    width: 50%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 20px;
    z-index: 999;
    box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
-webkit-box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
-moz-box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
}