.inputContainer input {
    outline: none;
    padding: 20px 0;
    width: 35%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.inputContainer {
    display: flex;
    width: 100%;
    justify-content: center;
   
}

.iconContainer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    width: 7%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.parentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

@media screen and (max-width: 800px) {
  
    .inputContainer input {
        width: 50%;
    }
    .iconContainer {
        width: 15%;
    }
}

