header {
    height: 500px;
    width: 100%;
    /* text-align: center; */
    padding-top: 100px;
    /* color: white; */
    overflow: hidden;
    background: #180d0d;  /* fallback for old browsers */
    background: linear-gradient(rgba(31, 29, 31, 0.705), rgba(14, 13, 13, 0.8)), url("/src/assets/images/university.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(rgba(31, 29, 31, 0.8), rgba(58, 56, 56, 0.8)), url("/src/assets/images/university.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
  

}

.ratingCover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingCover img {
    width: 40%;
    text-align: center;
}



.pointerFlex .container {
    border: 0.5px solid #9c9c9c;
    border-radius: 8px;
    margin: 0 15px;
    width: 20%;
    cursor: pointer;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.pointerFlex .container p {
    color: #9c9c9c; 
}

.pointerFlex {
    display: flex;
  
   justify-content: center;

}

.heroHeader h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0 30px 0;
    color: white;
    text-align: center;
}




@media screen and (max-width: 800px) {
    .ratingCover img {
        width: 70%;
    }
    .heroHeader h1 {
        font-size: 1.2rem;
    }
    .pointerFlex .container {
        width: 30%;
    }
}




