header {
    height: 500px;
    width: 100%;
    /* text-align: center; */
    padding-top: 100px;
    /* color: white; */
    overflow: hidden;
    background: #180d0d;  /* fallback for old browsers */
    background: linear-gradient(rgba(31, 29, 31, 0.705), rgba(14, 13, 13, 0.8)), url("/src/assets/images/university.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(rgba(31, 29, 31, 0.8), rgba(58, 56, 56, 0.8)), url("/src/assets/images/university.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
  

}

.ratingCover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingCover img {
    width: 40%;
    text-align: center;
}



.pointerFlex .container {
    border: 0.5px solid #9c9c9c;
    border-radius: 8px;
    margin: 0 15px;
    width: 20%;
    cursor: pointer;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.pointerFlex .container p {
    color: #9c9c9c; 
}

.pointerFlex {
    display: flex;
  
   justify-content: center;

}

.heroHeader h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0 30px 0;
    color: white;
    text-align: center;
}

.newDropDown {
    background: white;
    position: absolute;
   
    width: 40%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  top: 400px;
  right: 400px;
    z-index: 99;
    box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
-webkit-box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
-moz-box-shadow: 7px 10px 9px -3px rgba(84,84,84,0.75);
border-radius: 25px;
}

/* .newDropDownContainer {
    position: relative;
} */

.newInputContainer {
    width: 100%;
 position: sticky;
 top: 0; 
 left: 10; 
  align-items: center;
    display: flex;
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px 20px;
    z-index: 999;

}

.newDropDown input {
    width: 80%;
    outline: none;
    padding: 10px 0;
    margin-left: 10px;
  
   

}

.newDropDown::-webkit-scrollbar {
	width: 4px;
	background-color: white;
}

.newDropDown::-webkit-scrollbar-thumb {
	background-color: #464646;
}

.newDropDown::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

.parentListContainer {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 19px;
    cursor: pointer;
}

.secondContainer {
    margin-left: 10px;
}

.secondContainer h1 {
    font-weight: 700;
}

.parentListContainer:hover {
    background: #0021ff;
    transition: all 0.5s;
}

.secondContainerHolder {
    display: flex;
}

.listDepartment {
    color: #b4b4b4;
}

.dotCover {
    margin: 0 10px;
}

.listCollege {
    color: #252525;
}

.contactIcon:hover {
    fill: #f2f735;}
    .changeColor {
        color: black;
      }
      .parentListContainer:hover ~ .changeColor {
        color: white;
      }

      .parentListContainer:hover > .firstContainer {
        color: white;
      }

      .parentListContainer:hover > .secondContainer {
        color: white;
      }

      .parentListContainer:hover > .secondContainer p {
        color: white;
      }

    .active {
        border: 4px solid white !important;
    }

    .loader {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
      }
      .loader::after,
      .loader::before {
        content: '';  
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid black;
        position: absolute;
        left: 0;
        top: 0;
        animation: animloader 2s linear infinite;
      }
      .loader::after {
        animation-delay: 1s;
      }
      
      @keyframes animloader {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }

      .loaderContainer {
        display: flex;
        width: 100%;
     
        align-items: center;
        justify-content: center;
        
      }

      .noProfessor {
        display: flex;
        width: 100%;
     
        align-items: center;
        justify-content: center;
      }

      .noProfessor p {
        font-weight: 700;
        font-size: 1.4rem;
      }

     

      



@media screen and (max-width: 800px) {
   
    .newDropDown {
        left: 10%;
        top: 70%;
        width: 80%;
    }
    .ratingCover img {
        width: 70%;
    }
    .heroHeader h1 {
        font-size: 1.2rem;
    }
    .pointerFlex .container {
        width: 30%;
    }
}




